name: Terraform CI/CD with OIDC

on:
  workflow_dispatch:
    inputs:
      action_type:
        description: "terraform Actions "
        required: true
        default: "plan"
        type: choice
        options:
          - plan
          - apply
          - destroy

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume:arn:aws:iam::030771555103:role/GitHubActions-Terraform
          aws-region:ap-south-1

      - name: Terraform Init
        run: terraform init
        working-directory: ./

      - name: Terraform Plan
        if: ${{ github.event.inputs.action_type == 'plan' }}
        run: terraform plan
        working-directory: ./

      - name: Terraform Apply
        if: ${{ github.event.inputs.action_type == 'apply' }}
        run: terraform apply -auto-approve
        working-directory: ./

      - name: Terraform Destroy
        if: ${{ github.event.inputs.action_type == 'destroy' }}
        run: terraform destroy -auto-approve
        working-directory: ./
