name: Terraform CI/CD

on:
  workflow_dispatch:
     inputs:
        action_type:
           description: "Terraform Action (plan/apply/destroy)"
           required: true
           default : "plan"
           type: choice
           option:
              -plan
              -apply
              -destroy
jobs:
  terraform:
     runs-on: ubuntu-latest

     steps:
       - name: Checkout code
         uses: actions/checkout@v3

       - name: Set up terraform
         uses: hashicorp/setup-terraform#v3
        
       - name: Terraform init
         uses: terraform init

       - name: Terraform plan
         if: ${{github.event.inputs.action_type =="plan"}}
         run:  terraform plan

       - name: Terraform apply
         if: ${{github.event.input.action_type =="apply"}}
         run: terraform apply -auto-approve

       - name: Terraform destroy
         if: ${{github.event.input.action_type =="destroy"}}
         run: terraform destroy -auto-approve